<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :city %><br>
      <%= f.text_field :city, :class=>'validate', :required => true%>
    </div>
  </div>
  <div class="row">
   <div class="input-field col s12">
      <%= f.label :country %><br>
      <%= f.text_field :country, :class=>'validate', :required => true %>
    </div>
  </div>
  <div class="row">
    <%= f.submit 'Submit', :class => 'btn' %>
    <%= link_to 'Back', offices_path, :class => 'btn' %>
  </div>
<% end %>



