

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class=>'validate' %>
    </div> 
  </div>

  <div class="row">
     <div class="input-field col s12">
       <%= f.label :office %><br>
      <% hidden_field_tag "project[office_ids][]", nil %>
      <% Office.all.each do |office|%>
        <p>
        <%= check_box_tag "project[office_ids][]", office.id, @project.offices.include?(office), :id=>"project_#{office.city}"%>
        <%=f.label office.city %>
        </p>
      <% end %>
      <br>
      <p>Register a <%= link_to 'New Office', new_office_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :status %><br>
      <%= f.select :status, ['In Development', 'Concluded', 'Abandoned'], :class=>"browser-default" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class=>"materialize-textarea" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :technologies %><br>
      <%= f.text_area :technologies, :class=>"materialize-textarea" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label "Link to Production" %><br>
      <%= f.text_field :production %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :documentation %><br>
      <%= f.text_field :documentation %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label "Project Management System Link" %><br>
      <%= f.text_field :management %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :repository %><br>
      <%= f.text_field :repository %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field">
      <div class="btn">
        <span>Image</span>

        <%= f.file_field :picture %>
      </div>
    </div>
  </div>



 
  <div class="row">
    <%= f.submit 'Submit', :class => 'btn ' %>
    <%= link_to 'Back', projects_path, :class => 'btn' %>
   
  </div>

<% end %>
