<p id="notice"><%= notice %></p>



<% @projects.in_groups_of(4) do |group|%>
  <div class="row">
    <% group.compact.each do |project| %>
      <div class="col s3">
        <div class="card">
          <div class="card-image ">
            <%= image_tag project.picture_url, width: '100%', :class=>" img-thumbnail activator" if project.present? %>

            <%= link_to project.name, project, class: "card-title front-title black-text"%>
              
   
          </div>
          <div class="card-reveal">
            <span class="card-title "><%= project.name %><i class="material-icons right">close</i></span>
            <p><%= project.description %></p>
          </div>
       
        
        </div>
      </div>
    <% end %>
  </div>
<% end %>







