<p id="notice"><%= notice %></p>





<% @projects.in_groups_of(4) do |group|%>
  <div class="row">
    <% group.compact.each do |project| %>
      <div class="col s3">
        <%= link_to project do %> 
          <div class="card" id="project" data-status='<% project.status%>'>
            <div class="card-ximage" >
              <%= image_tag project.picture_url, width: '100%', :class=>" img-thumbnail activator" if project.present? %>

              <span class="card-title black-text"><%= project.name %></span>
              
     
            </div>
            <div class="card-reveal">
              <span class="card-title black-text"><%= project.name %></span>
              <p>
              <%= project.description %>
              </p>
            </div>
        <% end %> 
          
          </div>
        </a> 
      </div>
    <% end %>
  </div>


<% end %>





<script src="/assets/filters.js"></script>

