<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col s4">
    <%= image_tag(@project.picture_url, width: '100%', :class => 'img-thumbnail' ) if @project.picture.present? %>
  </div>

  <div class="col s8">


          <div class="card blue-grey lighten-5">
            <div class="card-content">
              <h3><%= @project.name %> </h3>
              
                <p><b>Status: </b><%= @project.status %></p>
                <p><b> <%= 'Offices:' if @project.offices.present? %></b>
                  <% @project.offices.each do |office|%>
                 <span class='chip'> <%= link_to  office.city, office %></span>
                  <% end %></p>
                   <p><b><%= 'Technologies:'if @project.technologies.present? %> </b><%= @project.technologies %></p><br>
                   <p><b><%= 'Description:' if @project.description.present? %> </b><%= @project.description %></p><br>
              
                <p><b><%= 'Project in Production:' if @project.production.present? %> </b><%= link_to @project.production, @project.production, :target => '_blank'  if @project.production.present? %></p>
               <p><b><%= 'Documentation:'if @project.documentation.present? %>  </b><%=link_to @project.documentation,  @project.documentation, :target => '_blank' %></p>
               
               
                <p><b><%= 'Repository:' if @project.repository.present? %> </b><%= link_to @project.repository, @project.repository, :target => '_blank'    %></p>
                <p><b><%= 'Project Management System:'if @project.management.present? %>  </b><%=link_to @project.management, @project.management, :target => '_blank'  %></p>
                  <p><b><%= 'Contact:' if @project.email.present? %> </b><%= @project.email  %></p><br>

                  <div class='right-align'>
                    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn ' %> 
                    <%= link_to 'Destroy', @project, data: { confirm: 'Are you sure?' }, method: :delete, :class => 'btn ' %> 
                    <%= link_to 'Back', projects_path, :class => 'btn ' %>
                  </div>


            </div>
          </div>

           



  </div>
</div>



