<!DOCTYPE html>
<html>
<head>
  <title>Projector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
      <div class="nav-wrapper  ">
       <a href="/"><img src="<%= asset_path( 'projector.png' ) %>"  class="icon"/></a> 
        <a href="/" class="brand-logo">   Projector</a>
      </div>
    </nav>

  <div class='container'>




  <%= yield %>
</div>



</body>
</html>
