<!DOCTYPE html>
<html>
<head>
  <title>Beach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="bootstrap.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
<nav class='navbar navbar-default'>
<a href='/' class='navbar-brand'>
	<img alt="Bucket Brand" src="<%= asset_path( 'bucket.png' ) %>")> 
  </a>
<a href='/' class='navbar-brand'>	
     Beach Projects
  </a>
</nav>



<%= yield %>

</body>
</html>
